<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <servlet>
        <servlet-name>mymemo.List</servlet-name>
        <servlet-class>mymemo.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mymemo.List</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mymemo.Show</servlet-name>
        <servlet-class>mymemo.ShowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mymemo.Show</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mymemo.Edit</servlet-name>
        <servlet-class>mymemo.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mymemo.Edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mymemo.Update</servlet-name>
        <servlet-class>mymemo.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mymemo.Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mymemo.Destroy</servlet-name>
        <servlet-class>mymemo.DestroyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mymemo.Destroy</servlet-name>
        <url-pattern>/destroy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mymemo.New</servlet-name>
        <servlet-class>mymemo.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mymemo.New</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mymemo.Create</servlet-name>
        <servlet-class>mymemo.CreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mymemo.Create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
</web-app>